---
layout: base.njk
title: "About Me"
description: "About Kyle Saltmarsh - Innovation lead at Woodside Energy, physicist, robotics engineer, public speaker, and podcast host."
ogType: profile
permalink: "/about/"
---

<div id="blog" class="site-section">
            <div class="container">

                <div class="row">

                    <div class="col-md-8" data-aos="fade-up">

                        <!-- <div class="post-meta">
                            <span>Posted on February 15, 2019 &bullet; Kyle Saltmarsh</span>
                        </div> -->

                        <h1>Kyle Saltmarsh</h1>


                        <!-- <p>Stuff about me...</p> -->


                        <!-- <h4 class="mb-3 mt-5 mb-3"><u>Contents</u></h4>
                        <p <span style="text-align: left; font-size: 14pt;"><strong><a href="#work">👨‍💻 Work</a>
                        </strong></span>
                    </p>
                        <p <span style="text-align: left; font-size: 14pt;"><strong><a href="#education">🎓 Education</a>
                            </strong></span>
                        </p>
                        <p <span style="text-align: left; font-size: 14pt;"><strong><a href="#speaking">🎤 Public Speaking</a>
                        </strong></span>
                    </p>
                        <p <span style="text-align: left; font-size: 14pt;"><strong><a href="#travel">🌏 Travel</a>
                        </strong></span>
                    </p>
                        <p <span style="text-align: left; font-size: 14pt;"><strong><a href="#key">🧗‍♂️ Hobbies</a>
                            </strong></span>
                        </p>
                        <p <span style="text-align: left; font-size: 14pt;"><strong><a href="#books">📖 Books</a>
                        </strong></span>
                        </p> -->



                        <section id="work">
                            <h2 class="mb-3 mt-5 mb-3">👨‍💻 Work</h2>
                        </section>
                        <p>I am currently the Innovation lead at Woodside energy. I started my career there working as a full stack robotics engineer at <a href="https://www.woodside.com/media-centre/news-stories/story/introducing-spector-a-woodside-robotics-first"
                            target="_blank">Woodside Energy</a>, working on
                            deployment of robotic systems across our facilities for remote inspections. I am also a technical specialist in the Australian Defence Force. Its awesome, reach out if you are interested.</p>

                        <section id="education">
                            <h2 class="mb-3 mt-5 mb-3">👨‍🎓 Education</h2>
                        </section>
                        <p>As an undergraduate I studied Physics, Applied Mathematics and Mechanical Engineering. I then did my PhD in submarine vibration for the sonar systems team
                            at Defence Science and Technology for the Australian Defence Force. Never start work before you
                            finish your PhD, take it from me (I have a <a href="/blog/phd/" target="_blank"
                                rel="noopener noreferrer">blog</a> on it). I am now actively pushing my learning and development in the field of artificial intelligence and robotics. </p>

                        <section id="speaking">
                            <h2 class="mb-3 mt-5 mb-3">🎤 Public Speaking</h2>
                        </section>
                        <p>I am a semi-retired public speaking competitor, but I still love it (and always willing to come out of retirement). I was lucky to be the
                            president of a <a href="https://www.rostrum.com.au/" target="_blank"
                                rel="noopener noreferrer">Rostrum</a> public speaking club in Perth, which pushed me to win an <a href="/blog/ypwl/" target="_blank"
                                rel="noopener noreferrer">international competition</a>.
                            </p>

                        <section id="speaking">
                            <h2 class="mb-3 mt-5 mb-3">🧗‍ Hobbies</h2>
                        </section>

                        <ul>
                            <li> <b>Rock climbing</b> - My one true obsession. What I love about rock climbing is that it combined physical (strength, power, flexibility, mobility), mental (problem solving, overcoming fear, performance under stress) and technical (climbing skill, roping methods). It also a hobby that I can travel and explore the world with, getting out in nature. What I also love is that rock climbing is not a zero sum sport, my success does not come at someone else’s loss, and everyone can celebrate each others endeavours. Outdoor exploration to date:
                                <ul>
                                <li> <b>Australia</b> - Kalbarri, Margaret River, Albany, Mount Arapiles, Blue Mountains, Kangaroo Point, Mount Tinbeerwah and Mount Coolum.
                                </li>
                                <li> <b>International</b> - Tonsai Thailand, Boulder Colorado, Dolomites Italy, Kalymnos Greece.
                                </ul>
                                </li>
                            </li>

                            <li> <b>Basketball</b> - Some might say that being white, software development and
                                basketball do not go hand in hand, and they would be right. I am not the best but I love
                                it and I religiously watch the NBA.
                            </li>

                            <li> <b>Magic</b> - This is why I am not good at basketball. They just do not overlap. Card
                                tricks are my thing, I own approximately 40 decks of playing cards. I quite enjoy Clarke's 3rd law - "Any sufficiently advanced technology is indistinguishable from magic", which means a magician is simply a purveyor or advanced technology.
                            </li>

                            <li> <b>Stand Up</b> - I have done some amateur comedy (very amateur) which is by far the most
                                terrifying thing I've done.
                            </li>

                        </ul>


                        <section id="travel">
                            <h2 class="mb-3 mt-5 mb-3">🌏 Travel</h2>
                        </section>
                        <p>Here are the countries I have been to.</p>

                        <script src="https://www.amcharts.com/lib/3/ammap.js" type="text/javascript"></script>
                        <script src="https://www.amcharts.com/lib/3/maps/js/worldHigh.js"
                            type="text/javascript"></script>
                        <script src="https://www.amcharts.com/lib/3/themes/dark.js" type="text/javascript"></script>
                        <div id="mapdiv" style="width: 750px; height: 400px;"></div>
                        <script type="text/javascript">
                            var map = AmCharts.makeChart("mapdiv", {
                                type: "map",
                                theme: "dark",
                                projection: "mercator",
                                panEventsEnabled: true,
                                backgroundColor: "#535364",
                                backgroundAlpha: 1,
                                zoomControl: {
                                    zoomControlEnabled: true
                                },
                                dataProvider: {
                                    map: "worldHigh",
                                    getAreasFromMap: true,
                                    areas:
                                        [
                                            {
                                                "id": "AT",
                                                "showAsSelected": true
                                            },
                                            {
                                                "id": "FR",
                                                "showAsSelected": true
                                            },
                                            {
                                                "id": "DE",
                                                "showAsSelected": true
                                            },
                                            {
                                                "id": "GR",
                                                "showAsSelected": true
                                            },
                                            {
                                                "id": "IT",
                                                "showAsSelected": true
                                            },
                                            {
                                                "id": "NL",
                                                "showAsSelected": true
                                            },
                                            {
                                                "id": "CH",
                                                "showAsSelected": true
                                            },
                                            {
                                                "id": "GB",
                                                "showAsSelected": true
                                            },
                                            {
                                                "id": "VA",
                                                "showAsSelected": true
                                            },
                                            {
                                                "id": "CA",
                                                "showAsSelected": true
                                            },
                                            {
                                                "id": "US",
                                                "showAsSelected": true
                                            },
                                            {
                                                "id": "ZA",
                                                "showAsSelected": true
                                            },
                                            {
                                                "id": "CN",
                                                "showAsSelected": true
                                            },
                                            {
                                                "id": "ID",
                                                "showAsSelected": true
                                            },
                                            {
                                                "id": "VN",
                                                "showAsSelected": true
                                            },
                                            {
                                                "id": "AU",
                                                "showAsSelected": true
                                            },
                                            {
                                                "id": "NZ",
                                                "showAsSelected": true
                                            },
                                            {
                                                "id": "MY",
                                                "showAsSelected": true
                                            },
                                            {
                                                "id": "JP",
                                                "showAsSelected": true
                                            },
                                            {
                                                "id": "KY",
                                                "showAsSelected": true
                                            }
                                        ]
                                },
                                areasSettings: {
                                    autoZoom: true,
                                    color: "#B4B4B7",
                                    colorSolid: "#84ADE9",
                                    selectedColor: "#84ADE9",
                                    outlineColor: "#666666",
                                    rollOverColor: "#9EC2F7",
                                    rollOverOutlineColor: "#000000"
                                }
                            });
                        </script>


                        <section id="books">
                            <h2 class="mb-3 mt-5 mb-3">📖 Books</h2>
                        </section>
                        <p>Here are my top 5 books that I would recommend. </p>

                        <ul>

                            <li> <b><a href="https://www.amazon.com/Adam-Smith-Change-Your-Life/dp/1591847958"
                                        target="_blank"> <i>How Adam Smith Can Change Your Life</i></a> by Russ
                                    Roberts</b> - Many people know the Wealth of Nations, but 16 years earlier Adam
                                smith wrote the Theory of Moral Sentiments because he believed that before he could
                                understand economics, he had to understand people. Love this book and it is amazing how
                                timeless it is.
                            </li>

                            <li> <b><a href="https://www.amazon.com/Thinking-Fast-Slow-Daniel-Kahneman-ebook/dp/B00555X8OA"
                                        target="_blank"> <i>Thinking Fast and Slow</i></a> by Daniel
                                    Kahneman</b> - The best behavioural psychology book I have read. Gives an
                                understanding on how our brains work, why we think and act the way we do, the biases we
                                have and how to be aware of them. He won the Nobel prize for this work so I guess don't
                                take my word for it.
                            </li>

                                                       <li> <b><a href="https://www.amazon.com/Cant-Hurt-Me-Master-Your-ebook/dp/B07H453KGH"
                                        target="_blank"> <i>Can't Hurt Me</i></a> by David Goggins</b> - A book
                                that leaves you thinking that you have no excuses to not push yourself to your absolute
                                limits to achieve your goals.
                            </li>

                            <li> <b><a href="https://waitbutwhy.com/" target="_blank"> <i>Wait But Why</i></a>
                                    by Tim Urban</b> - My absolute favourite blogger which inspired a lot of my style in
                                my own. He has put out series on SpaceX, Tesla and
                                Neuralink which are all awesome. He also has the most viewed <a href="https://www.youtube.com/watch?v=arj7oStGLkU"
                                target="_blank"> <i>Ted Talk</i></a>.
                            </li>

                            <!-- <li> <b><a href="https://www.amazon.com/Short-History-Nearly-Everything-ebook/dp/B000FBFNII"
                                        target="_blank"> <i>12 Rules For Life</i></a> by Jordan Peterson</b> -
                                Controversial? Eh, I love Jordan Peterson. Give him 20 minutes of non pre-biased
                                listening and I think it is quite evident that everything he hopes to achieve in life is
                                an elevated level of happiness in as many people that he can.
                            </li> -->

                            <li> <b><a href="https://www.amazon.com.au/Book-Why-Science-Cause-Effect/dp/046509760X"
                                target="_blank"> <i>The Book of Why</i></a> by Judea Pearl</b> - Great book to understand how to think causally. Must read, cannot be consumed as an audiobook, take it from me as someone who already made that mistake.
                    </li>

                        </ul>

                        <section id="health">
                            <h2 class="mb-3 mt-5 mb-3">❤️ Health</h2>
                        </section>
                        <p>My current health regime. </p>

                        <ul>

                            <li> <b>Sleep</b> - My sleeping window is 9:30PM-5:15AM. I improve the quality of my sleep through consistency, a wind down routine of reading and camomile tea, as well as various vitamins/supplements.
                            </li>

                            <!-- <li> <b> Intermittent Fasting </b> - I intermittent fast every day of the week. My eating window is 11AM-7PM. My recommended resource for learning and getting started is
                                <a href="https://hubermanlab.com/effects-of-fasting-and-time-restricted-eating-on-fat-loss-and-health/"
                                        target="_blank"> <i>HubermanLab</i></a>. -->
                            </li>

                            <li> <b>Diet</b> - My diet breakdown is approximately 80% plant based, 20% meat based. Each week I meal prep a vegetable and meat heavy dish, boiled eggs and a loaf of almond meal banana bread (high protein, no added sugar). I also regularly eat fermented foods such as sauerkraut, kimchi and kefir. My typical day
                                <ul>
                                    <li>Pre-gym: Banana</li>
                                    <li>Breakfast: Coffee, Boiled Eggs and Protein Smoothie (frozen broccoli, frozen berries, protein powder and peanut butter)</li>
                                    <li>Lunch: Vegetable and meat heavy meal</li>
                                    <li>Dinner: Vegetable and meat heavy meal</li>
                                    <li>Post Dinner: Camomile tea</li>
                                </ul>
                
                            </li>

                            <li> <b>Supplements and Biohacking</b> - I reguarly take various supplements and vitamins to for performance and longevity. My recommended resource for learning and getting started is
                                <a href="https://www.youtube.com/channel/UCpcvPcHJVOkO9Qp79BOagTg"
                                        target="_blank"> <i>Dr. Brad Stanford</i></a>.
                                <ul>
                                    <li>Pre-gym: Creatine (5g) and electrolyte</li>
                                    <li>Breakfast: Multivitamin, Omega 3 (2000mg), Vitamin D (3000IU) and Creatine (5g)</li>
                                    <li>Lunch: Chelated minerals, Niacin (100mg), Saw Palmetto (1200mg), Finasteride (1.25mg) and Ashwaganda (300mg, alternating weeks)</li>
                                    <li>Dinner: Hyaluronic Acid (200mg), L-Theanine (200mg), Reishi Mushroom (500mg, alternating days) and Ashwaganda (300mg, alternating weeks)</li>
                                </ul>
                                Full supplement stack with links is <a href="https://docs.google.com/document/d/1jalsGQRzwpRADjRuwtiqRVmqBzQ4FeiJ8JZ5I7PvTpk/edit?usp=sharing"
                                target="_blank"> <i>here</i></a>. 
                            </li>

                            <li> <b>Exercise</b> - My exercise regime is built to focus on rock climbing which includes elements of strength, climbing specific training, mobility and HIIT. This is done at the gym and climbing gyms.
                            </li>

                            <li> <b>Recovery</b> - Every morning I do cold ocean plunges after my exercise. I also sauna 1-2 times per week.

                            <li> <b>Skin Care</b> - 
                                <ul>
                                    <li>Morning: Cleanser, Hyaluronic Acid, Vitamin C, SPF50+ Moisturiser</li>
                                    <li>Night: Cleanser, Hyaluronic Acid, Peptide Serum, Granactive Retinoid, Moisturiser/Oil</li>
                                </ul>
                                Full skin stack with links is <a href="https://docs.google.com/document/d/142sTf5X2MQPQd-5Y41aur0G3O0XTFN7mXenmlc1xZQU/edit?usp=sharing"
                                target="_blank"> <i>here</i></a>. 
                            </li>

                        </ul>

                    </div>
                    <!-- .col-md-8 -->



                    <div class="col-md-4 sidebar pl-md-5">

                        <div class="sidebar-box">
                            <img src="/images/kylesaltmarsh.JPG" alt="Kyle Saltmarsh" class="img-fluid mb-4 rounded">

                            <section id="contact">
                                <h2 class="mb-3 mt-5 mb-3">✉️ Contact</h2>
                            </section>
                            <p>Feel free to reach out and send me an email.</p>
                            <p>kyle.m.saltmarsh AT gmail.com</p>
                        </div>


                    </div>
                </div>

</body>
