---
layout: base.njk
title: "Home"
description: "Saltology - Kyle Saltmarsh's blog and podcast exploring technology, AI, robotics, and personal growth."
ogType: website
permalink: "/"
useAos: true
---

<div class="container-fluid" data-aos="fade-up">

<h1 class="sr-only">Saltology - Kyle Saltmarsh</h1>

      <div class="col-md-12">
        <h2>My Blog</h2>
        <p class="lead">My thoughts on some things.</p>
      </div>
      <div class="row">

         
        <div class="col-md-3">
          <a class="post animsition-link" href="/blog/phd/">
            <figure>
              <img src="/images/phd.png"
                   alt="My Decade of Dissonance: On Finishing a PhD"
                   class="img-fluid">
            </figure>
            <div class="project-hover">
              <div class="project-hover-inner">
                <h2>My Decade of Dissonance: On Finishing a PhD</h2>
                <span>June 21, 2025</span>
              </div>
            </div>
          </a>
        </div>

          <div class="col-md-3">
              <a class="post animsition-link" href="/blog/think2019/">
                <figure>
                  <img src="/images/think.jpg" alt="THINK 2019 conference" class="img-fluid">  
                </figure>
                <div class="project-hover">
                  <div class="project-hover-inner">
                    <h2>THINK 2019 San Francisco</h2>
                    <span>February 25, 2019</span>
                  </div>
                </div>
              </a>
            </div>

        <div class="col-md-3">
          <a class="post animsition-link" href="/blog/ypwl/">
            <figure>
              <img src="/images/YPWLC.jpg" alt="Young Person World Lecture competition" class="img-fluid">
            </figure>
            <div class="project-hover">
              <div class="project-hover-inner">
                <h2>Young Persons' World Lecture Competition</h2>
                <span>October 29, 2018</span>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-12">
          <h2>My Podcast</h2>
          <p class="lead">Interviewing amazing people.</p>
        </div>
        <div class="row">

          <div class="col-md-3">
            <a class="post animsition-link" href="/podcasts/martin-riedmiller/">
              <figure>
                <img src="/images/martin_square.png" alt="Martin Reidmiller" class="img-fluid" width="400" height="400">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Martin Riedmiller</h2>
                  <h6>Control Team Lead, Google DeepMind</h6>
                  <span>March 10, 2024</span>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a class="post animsition-link" href="/podcasts/russell-potapinski/">
              <figure>
                <img src="/images/russ.jpeg" alt="Russell Potapinski" class="img-fluid" width="400" height="400">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Russel Potapinski</h2>
                  <h6>Visionary Life, Pemberton</h6>
                  <span>February 18, 2022</span>
                </div>
              </div>
            </a>
          </div>
  
          <div class="col-md-3">
            <a class="post animsition-link" href="/podcasts/mark-micire/">
              <figure>
                <img src="/images/MarkMicire.jpeg" alt="Mark Micire" class="img-fluid" width="400" height="400">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Dr. Mark Micire</h2>
                  <h6>Head of Robotics, Woodside Energy</h6>
                  <span>February 18, 2022</span>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a class="post animsition-link" href="/podcasts/jeff-clune/">
              <figure>
                <img src="/images/JeffClune.jpeg" alt="Jeff Clune" class="img-fluid" width="400" height="400">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Dr. Jeff Clune</h2>
                  <h6>Research Team Leader, OpenAI & Associate Professor, University of British Columbia</h6>
                  <span>June 13, 2019</span>
                </div>
              </div>
            </a>
          </div>
  
          <div class="col-md-3">
            <a class="post animsition-link" href="/podcasts/jeff-welser/">
              <figure>
                <img src="/images/JeffWelser.jpeg" alt="Jeff Welser" class="img-fluid" width="400" height="400">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Dr. Jeffrey Welser</h2>
                  <h6>Vice President and Lab Director, IBM Research Almaden</h6>
                  <span>February 13, 2019</span>
                </div>
              </div>
            </a>
          </div>
  
          <div class="col-md-3">
              <a class="post animsition-link" href="/podcasts/dario-gil/">
                <figure>
                  <img src="/images/DarioGil.jpeg" alt="Dario Gil" class="img-fluid" width="400" height="400">  
                </figure>
                <div class="project-hover">
                  <div class="project-hover-inner">
                    <h2>Dr. Dario Gil</h2>
                    <h6>Director, IBM Research</h6>
                    <span>February 14, 2019</span>
                  </div>
                </div>
              </a>
            </div>
  
          <div class="col-md-3">
            <a class="post animsition-link" href="/podcasts/mark-foster/">
              <figure>
                <img src="/images/MarkFoster.jpeg" alt="Mark Foster" class="img-fluid" width="400" height="400">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Mark Foster</h2>
                  <h6>SVP Global Business Services, IBM</h6>
                  <span>February 14, 2019</span>
                </div>
              </div>
            </a>
          </div>
  
  
          <div class="col-md-3">
            <a class="post animsition-link" href="/podcasts/robert-wisnieff/">
              <figure>
                <img src="/images/RobertWisnieff.jpeg" alt="Robert Wisnieff" class="img-fluid" width="400" height="400">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Dr. Robert Wisnieff</h2>
                  <h6>CTO Quantum Computing, IBM</h6>
                  <span>February 14, 2019</span>
                </div>
              </div>
            </a>
          </div>
  
          <div class="col-md-3">
              <a class="post animsition-link" href="/podcasts/mike-cook/">
                <figure>
                  <img src="/images/MikeCook.jpeg" alt="Mike Cook" class="img-fluid" width="400" height="400">  
                </figure>
                <div class="project-hover">
                  <div class="project-hover-inner">
                    <h2>Mike Cook</h2>
                    <h6>Managing Partner - Financial Services Sector Canada, IBM</h6>
                    <span>February 22, 2019</span>
                  </div>
                </div>
              </a>
            </div>
  
          <div class="col-md-3">
              <a class="post animsition-link" href="/podcasts/jay-bellissimo/">
                <figure>
                  <img src="/images/JayBellissimo.jpeg" alt="Jay Bellissimo" class="img-fluid" width="400" height="400">  
                </figure>
                <div class="project-hover">
                  <div class="project-hover-inner">
                    <h2>Jay Bellissimo</h2>
                    <h6>Global Managing Partner - Cognitive Process Transformation, IBM</h6>
                    <span>February 15, 2019</span>
                  </div>
                </div>
              </a>
            </div>
  
          <div class="col-md-3">
              <a class="post animsition-link" href="/podcasts/pavel-ferreri/">
                <figure>
                  <img src="/images/PavelGFerreri.jpeg" alt="Pavel Ferreri" class="img-fluid" width="400" height="400">  
                </figure>
                <div class="project-hover">
                  <div class="project-hover-inner">
                    <h2>Pavel G Ferreri</h2>
                    <h6>Worldwide Leader, Global Sales Cloud, Kubernetes & DevServs, IBM</h6>
                    <span>February 22, 2019</span>
                  </div>
                </div>
              </a>
            </div>
  
          <div class="col-md-3">
            <a class="post animsition-link" href="/podcasts/nick-therkelsen/">
              <figure>
                <img src="/images/Nicktherkelsen.jpeg" alt="Nick Therkelsen-Terry" class="img-fluid" width="400" height="400">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Nick Therkelsen-Terry</h2>
                  <h6>CEO and Co-founder, Max Kelsen and cognitiveCX</h6>
                  <span>March 11, 2019</span>
                </div>
              </div>
            </a>
          </div>
        


      </div>

    </div>
