---
layout: base.njk
title: "Nick Therkelsen-Terry"
description: "Podcast interview with Nick Therkelsen-Terry, CEO and Co-founder of Max Kelsen."
ogType: article
permalink: "/podcasts/nick-therkelsen/"
useBigfoot: true
useDisqus: true
---

<div id="blog" class="site-section">
            <div class="container">

                <div class="row">

                    <div class="col-md-8" data-aos="fade-up">

                        <div class="post-meta">
                            <span>Posted on March 11, 2019 &bullet; Kyle Saltmarsh</span>
                        </div>

                        <h1>Nick Therkelsen-Terry &mdash; CEO and Co-founder at Max Kelsen and cognitiveCX</h1>


                        <p>I spent the majority of my time at THINK with Nick, whether it was attending sessions
                            together, attending and watching his sessions or grabbing lunches, dinners and craft beers.
                            Nick was one of the most inspiring people I was able to meet during THINK, which is saying
                            alot when thinking about the calibre of some of the people I managed to score interviews
                            with. Nick - a law and economics graduate - worked for all but a week at a law firm before
                            deciding he wanted to do something different. Nick is now the CEO and Co-Founder at Max
                            Kelsen, a machine learning consultancy based in Queensland Australia. In just 4 years Max
                            Kelsen have done some amazing work in natural language processing, predicting
                            immunotherapies for cancer patients using genome data and more recently reinforcement
                            learning for circuit building within the IBM Q Experience platform. What particularly amazed
                            me about Nick - besides his passion - was the technical knowledge that he possesed
                            considering his position within the company. The team at Max Kelsen are superstars and I
                            cannot wait to continue to watch them grow and flourish. Enjoy the podcast!</p>


                        <h4 class="mb-3 mt-5 mb-3"><u>Contents</u></h4>
                        <p <span style="text-align: left; font-size: 14pt;"><strong><a href="#listen">🎧 Listen In</a>
                            </strong></span>
                        </p>
                        <p <span style="text-align: left; font-size: 14pt;"><strong><a href="#read">📖 Read Along</a>
                            </strong></span>
                        </p>
                        <p <span style="text-align: left; font-size: 14pt;"><strong><a href="#key">💡 Key Messages</a>
                            </strong></span>
                        </p>

                        <section id="listen">
                            <h2 class="mb-3 mt-5 mb-3">🎧 Listen In</h2>
                        </section>

                        <p>Here is the podcast.</p>

                        <!-- <iframe height="200px" width="100%" frameborder="no" scrolling="no" seamless
                            src="https://player.simplecast.com/1eb44123-489a-4714-acec-24c137fc083f?dark=true"></iframe> -->
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/dPoMrwHMquA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <section id="read">
                            <h2 class="mb-3 mt-5 mb-3">📖 Read Along</h2>
                        </section>
                        <p>Coming soon! These take me a long time for the 15 minute podcasts. I have not comes to terms with doing a 45 minute one right now but bare with me haha.</p>

                        <section id="key">
                            <h2 class="mb-3 mt-5 mb-3">💡 Key Messages</h2>
                        </section>

                        <p>Here are my key takeaways from the podcast.</p>

                        <ul>
                            <li> <b>Your degree doesn't have define your career</b> - As a graduate in economics and
                                law, Nick has completely transformed himself through reading and self teaching. Nick
                                loves to read <a href="https://paperswithcode.com/" target=&quot;_blank&quot>Papers With
                                    Code</a> and listen to <a href="https://twimlai.com//" target=&quot;_blank&quot>This
                                    Week in Machine Learning and AI</a></li>
                            <li> <b>It's about the data stupid</b> - In the end it comes down to understanding the data,
                                which does not just mean knowing what the rows and columns are. Nick strongly believes
                                that in order to be succesful they have partnered with subject matter experts to ensure
                                that they really do have a thorough understanding of the inputs to their machine
                                learning models</li>
                            <li> <b>Learn the math</b> - To be a good data scientist you have to understand the math. As
                                platforms and tools reduce the activation energy required for people to build machine
                                learning models, simply piecing together packages with some code is not enough to be a
                                good data scientist today. You have to learn and understand the math</li>
                            <li> <b>Read <a
                                        href="https://www.amazon.com/Animal-Spirits-Psychology-Economy-Capitalism/dp/1501263803"
                                        target=&quot;_blank&quot><i>Animal Spirits</i></a></b> - A book that really
                                ushered in the period of behavioural economics. With an economics degree, Nick has
                                always had an interest in the field and felt that the assumptions that people are
                                rational and therefore markets are rational is absurd. Nick feels it is important to
                                read this book to understand how human psychology influences the economy - and to throw
                                in a slight dig -why purist rational economists are always wrong
                            </li>
                            <li> <b>Read <a href="https://www.amazon.com/Trial-Original-Franz-Kafka/dp/1541276728"
                                        target=&quot;_blank&quot><i>The Trial</i></a></b> - Nick is a huge fan of Franz
                                Kafka and believes everyone should read this book at some point in their life. Nick said
                                that not only is Kafka a fantastic writer but that the term kafkaesque was really
                                spawned out of this works</li>
                        </ul>


                    </div>
                    <!-- .col-md-8 -->



                    <div class="col-md-4 sidebar pl-md-5">

                        <div class="sidebar-box">
                            <img src="/images/Nicktherkelsen.jpeg" alt="Nick Therkelsen-Terry"
                                class="img-fluid mb-4 rounded">
                            <h3>About Nick Therkelsen-Terry</h3>
                            <p>Nicholas Therkelsen co-founded Max Kelsen in 2015 to provide big data and machine
                                learning services to clients large and small. In his position as CEO, Nicholas is
                                responsible for designing and executing strategic vision, project design and management,
                                fiscal and legal governance, and team building. Prior to this, Nick was consulting for
                                companies across a range of industries to assist with their technology requirements.
                                Nick holds a Bachelor of Laws and Bachelor of Economics from the University of
                                Queensland.

                                Nick has a broad range of expertise spanning business, economics, sales, management and
                                law. Nick has a deep theoretical and applied understanding of cutting-edge machine
                                learning techniques, and has been widely recognised as a domain expert in this field. He
                                is a regular speaker at artificial intelligence meetups around the country, and also at
                                conferences such as Gartner ITXPO, NSW Gov DC, Urbanity and IBM Think 2018.

                                Nick also co-founded Cityshape in 2016, an application focussed on aggregating property
                                development planning data and serves as its CTO. Likewise, in 2017, Nick co-founded
                                cognitiveCX, a platform for enterprises to analyse and process unstructured data from
                                any source.</p>
                            <p><a href="https://www.linkedin.com/in/ntherkelsen/" target=&quot;_blank&quot>Read More</a>
                            </p>
                        </div>

                        <div class="sidebar-box">
                            <img src="/images/mk.jpg" alt="Max Kelsen office" class="img-fluid mb-4 rounded">
                            <h3>About Max Kelsen</h3>
                            <p>We are an Artificial Intelligence and Machine Learning consultancy. Max Kelsen takes big
                                data and turns it into big ideas. We utilise cutting-edge technologies to provide
                                powerful insights, innovation strategies, and tailored solutions for your business.</p>
                            <p><a href="https://maxkelsen.com/" target=&quot;_blank&quot>Read More</a></p>
                        </div>


                    </div>
                </div>


</body>
